.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.material-icons.red {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 40px 0px 0px;
    cursor:  pointer;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #fff
}
h1{
    color: #000;
    margin-top: 40px;
    text-align: center;
}
.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1)
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 18px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 10dp;
    transition: 0.4s;
}
li span{
    display: block;
}
li span:nth-child(2), li span:nth-child(3), li span:nth-child(4) {
    font-size: 15px;
    margin-top: 6px;
    color: #999;
    padding-bottom: 10px;
}
li:hover {
    background: rgba(107, 107, 107, 0.397);
}